.App {
  text-align: center;
}

@media (min-width: 40.0rem) {
  .App {
    text-align: left;
  }
}

.App-main, footer.Footer {
  max-width: 900px;
  color: #151927;
}

footer.Footer {
  margin-top: 2em;
  margin-bottom: 2em;
}

.Footer-signature {
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
  font-weight: 700;
}

.App-heart {
  height: 10em;
  margin: 2em;
}

.App-logo { margin-top: -20px; }

.extra {
  background-color: #ffeecc;
  border: 1px solid black;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.Invitation-item {
  padding: 1em;
}

.Invitation {
  margin: 2em 0 1em;
}

.Greeting, header {
  text-align: center;
}

.Comes {
  margin: 1em 0;
}

.Eats {
  margin: 1em 0;
}

.Sleeping ul li {
  /*
    * We want the bullets outside of the list,
    * so the text is aligned. Now the actual bullet
    * is outside of the list’s container
    */
  list-style-position: outside;

  /*
    * Because the bullet is outside of the list’s
    * container, indent the list entirely
    */
  margin-left: 1em;
}
