.App {
  text-align: center;
}

@media (min-width: 40.0rem) {
  .App {
    text-align: left;
  }
}

.App-main, footer.Footer {
  max-width: 900px;
  color: #151927;
}

footer.Footer {
  margin-bottom: 2em;
  vertical-align: middle;
}

.Footer-signature {
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
  font-weight: 700;
  margin-left: 3rem;
}

.App-heart {
  height: 10em;
  margin: 2em;
}

.App-logo { margin-top: -20px; }

.extra {
  background-color: #efdebc;
  border: 1px solid #eeeeee;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border-left: 0.3rem solid #fd5012;
}

.Invitation-item {
  text-align: center;
}

.wedding {
  text-decoration: underline #151927;
}

.Greeting {
  margin-bottom: 2.5em;
}

.Bubble {
	position: relative;
  background-color: #efdebc;
  padding: 0.7em;
  border-radius: 0.5em;
}
.Bubble:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #efdebc;
	border-width: 10px;
	margin-top: -10px;
}

.Greeting, header {
  text-align: center;
}

.Comes {
  margin: 1em 0;
}

.Eats {
  margin: 1em 0;
}

.iconContainer {
  text-align: center;
}

.icon {
  margin-top: 2em;
  max-width: 60%;
}

ul li {
  /*
    * We want the bullets outside of the list,
    * so the text is aligned. Now the actual bullet
    * is outside of the list’s container
    */
  list-style-position: outside;

  /*
    * Because the bullet is outside of the list’s
    * container, indent the list entirely
    */
  margin-left: 1em;
}
